<%= render 'layouts/navigation' %>
<div align="center">
    <h1 style = "font-family:Arial;font-size:42px;font-style:bold;">Show selected Article</h1>
</div>

<p>
  Title: <%= @article.title%>
</p>

<p>
  Description: <%= @article.description%>
</p>
<p><%= link_to 'Edit this article', edit_article_path(@article) %></p>
<%= link_to "Go Back", articles_path %>