<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<div align="center">
  <h2 style="font-family:Arial;font-size:30px;font-style:bold;">
    <strong>Title:</strong> <%= @article.title%>
  </h2>
</div>
<div style="max-width:800px;margin:auto;">
  <div class="container">
    <p class="center">
      <p style="font-family:Arial;font-size:18px;font-style:bold;">
        <strong>Description:</strong>
      </p>
      <%= simple_format(@article.description)%>
        <p class="control">
          <%= link_to 'Edit this article', edit_article_path(@article), class: "button is-small is-primary is-outlined" %>
          <%= link_to 'Delete this article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-danger is-outlined" %>
          <%= link_to "View all articles", articles_path, class: "button is-small is-link is-outlined"%>
        </p>
  </div>
</div>